<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <form class="box" (ngSubmit)="onLogin()">
          <h1>Login</h1>
          <p class="text-white"> Please enter your login and password!</p>
          <input type="text" name="login" placeholder="Username" [(ngModel)]="loginUsuario.login">
          <input type="password" name="password" placeholder="Password" [(ngModel)]="loginUsuario.password">
          <a class="forgot text-white" routerLink="/auth/register">Don't have an account?</a>
          <button type="submit" name="loginButton" [disabled]="loading">
            <span><i [ngClass]="{'fa fa-refresh fa-spin': loading }"></i>
              Login
            </span>
          </button>
          <div class="col-md-12">
            <ul class="social-network social-circle">
              <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#" class="icoGoogle" title="Google +"><i class="fab fa-google-plus"></i></a></li>
            </ul>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>