<div>

    <form class="content"  (submit) = "consultaProveedor()">


    <div class="submit-form" >
  
         <div class="row">
            <div class="col-lg-12">
                <h6>Consulta de Proveedores</h6>
            </div>
        </div>
  
        <div class="row" style="margin-top: 2%">
                <label for="ruc" class="col-lg-1">Razon social</label>
                <div class="col-lg-2">
                    <input type="text" class="form-control" name="razonsocial" id="razonsocial"  [(ngModel)]= "razonsocial" />
                </div>

                <label for="contacto" class="col-lg-1">contacto</label>
                <div class="col-lg-2">
                    <input type="text" class="form-control" name="contacto" id="contacto"  [(ngModel)]= "contacto" />
                </div>

                <label for="direccion" class="col-lg-1">telefono</label>
                <div class="col-lg-2">
                    <input type="text" class="form-control" name="telefono" id="telefono"  [(ngModel)]= "telefono" />
                </div>

                         
                <div class="col-lg-2">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="estado" [(ngModel)]= "estado" checked  name="estado"/>
                        <label class="custom-control-label" for="estado">Estado</label>
                    </div>
                </div>
                <div class="col-lg-2">
                    <button class="btn btn-success"  >Filtrar</button>
                </div>
         </div>
 

         <div class="row" style="margin-top: 3%">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>razonsocial</th>
                            <th>ruc</th>
                            <th>direccion</th>
                            <th>telefono</th>
                            <th>celular</th>
                            <th>contacto</th>
                            <th>Ubigeo</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr *ngFor = "let aux of proveedor" >
                                 <td>{{ aux.idProveedor }}</td>   
                                 <td>{{ aux.razonsocial }}</td>   
                                 <td>{{ aux.ruc }}</td>  
                                 <td>{{ aux.direccion }}</td>   
                                 <td>{{ aux.telefono }}</td>   
                                 <td>{{ aux.celular }}</td>
                                 <td>{{ aux.contacto }}</td>    
                                 <td>{{ aux.ubigeo?.departamento }} - {{ aux.ubigeo?.provincia }} - {{ aux.ubigeo?.distrito }}</td>   
                                 <td>{{ aux.estado==1?'Activo':'Inactivo' }}</td>
                            </tr>

                    </tbody>
                       

                </table>


         </div>
        

        </div>

  
     </form>
  
  
    </div>
